// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1e1e2d;
$primary-two: #0c0e17;
$black: #101010;
$white: white;
$blue: #3f6e8b;
$blue-2: #183271;
$blue-3: #001674;
$gray: #606266;
$gray-2: #ddd;
$gray-3: #65636b;
$gray-4: #abafb5;
$gray-5: #606266;
$white-2: #ebeef5;
$white-3: #dcdfe6;
$white-4: #e0e0e0;
$secondary: #26a69a;
$accent: #9c27b0;
$red: #f44336;
$dark: #1d1d1d;
$dark-page: #121212;
$gray-5: #606266;
$positive: #21ba45;
$positive-1: #0e852a;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$blue: #3f6e8b;
$blue-2: #394783;
$blue-4: #243991;
